body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 243, 196);
}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
}

label {
    padding: 1rem;
    font-weight: 600;
    color: rgb(129, 129, 129);
}

input, button {
    display: block;
    min-width: 30vw;
    font-size: 1.1rem;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid lightgray;
    outline: none;
    margin: 1rem;
}

h1 {
    font-size: 3.8rem;
    padding: 1rem;
    color: rgb(129, 129, 129);
}

h3 {
    position: bottom;
    opacity: 40%;
}